.popupContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70vw;
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
}

.popupShadow {
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 50%;
    left: 50%;
    height: 101vh;
    width: 101vw;
    transform: translate(-50%, -50%);
}

.popupButton {
    
}

.popupButtonTitle {
    font-size: 22px;
    margin: 10px;
    margin-top: 20px;
    background-color: green;
    padding: 5px;
    border-radius: 2px;
    font-weight: 550;
    color: white;
    text-align: center;
}
.popupButtonTitle:hover {
    background-color: darkgreen;
    transition: 0.2s;
}

.popupButtonTitleClose {
    font-size: 22px;
    margin: 10px;
    margin-top: 0px;
    background-color: red;
    padding: 5px;
    border-radius: 2px;
    font-weight: 550;
    color: white;
    text-align: center;
}
.popupButtonTitleClose:hover {
    background-color: darkRed;
    transition: 0.2s;
}

.popupInputField {
    flex: 1;
    padding: 5px;
    margin: auto;
    max-height: 30px;
    font-size: 18px;
}

.popupTitle {
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    font-weight: 550;
    margin: auto;
}