.playlistListItemContainer {
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playlistListItemTitleContainer {
    width: 100%;
}

.playlistListItemTitle {
    font-size: 22px;
    color: black;
    font-weight: 550;
}

.playlistListItemIcon {
    width: 30px;
    height: 30px;
    color: red;
}