.popupContainer {
    position: fixed;
    top: 45%;
    left: 50%;
    width: 70vw;
    background-color: white;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.popupShadow {
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 50%;
    left: 50%;
    height: 101vh;
    width: 101vw;
    transform: translate(-50%, -50%);
}

.popupButtonTitle {
    font-size: 22px;
    margin: 10px;
    margin-top: 20px;
    background-color: green;
    padding: 5px;
    border-radius: 2px;
    font-weight: 550;
    color: white;
    text-align: center;
}

.popupButtonTitleCancel {
    font-size: 22px;
    margin: 10px;
    margin-top: 0px;
    background-color: red;
    padding: 5px;
    border-radius: 2px;
    font-weight: 550;
    color: white;
    text-align: center;
}

.popupTitle {
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    font-weight: 550;
    margin: auto;
}

.popupRadioButtonContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.popupRadioButtonContainer input {
    margin: 5px;
}