:root {
    --primary-color: #F7F3F3;
    --background-color: #B3D5D9;
    --text-color: black;

    user-select: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.appContainer {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.appSwitch {
    min-height: calc(100vh - 70px);
}